html{
    font-size:16px;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Red Hat Display';
}

h2{
    text-align:center;
}

.heading p{
    text-align:center;
}
.plans{
    display:flex;
    align-items: center;
    width:80%;
    justify-content: space-around;
    background-color: hsl(0, 9%, 96%);
    margin:auto;
    border-radius:1rem;
}
.paymentBtn{
    /* border:1px solid green; */
    margin-top: 1rem;
}
.paymentBtn button{
    display:flex;
    /* justify-content: center; */
    border:0;
    margin:auto;
    background-color: white;
    font-size: 1rem;
    border-radius:0.6rem;
    width:80%;
    background-image: linear-gradient(to right, hsl(245, 91%, 50%),hsl(223, 48%, 41%)) ;
    text-align: center;
    padding:0.8rem 0.8rem;
    color:white;
    font-weight:bold;
    justify-content: center;
}
.cancelBtn {
    margin-top:1rem;
}
.cancelBtn button{
    display:flex;
    /* justify-content: center; */
    border:0;
    margin:auto;
    background-color: white;
    font-size: 1rem;
    /* border-radius:0.6rem; */
    width:80%;
    /* background-color:  hsl(224, 23%, 55%); */
    text-align: center;
    padding:0.5rem;
    color:hsl(224, 23%, 55%);
    font-weight:bold;
    justify-content: center;
}
.change a{
    font-weight:bold;
}
.plan p:first-child{
    font-weight: bold;
    margin-bottom: 4px;
}
.plan p:last-child{
    color:hsl(224, 23%, 55%);
    margin-top:0;
}
.logo-plan{
    display:flex;
}